.banner-principal {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.banner-principal h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2;
    width: 60%;
    word-wrap: break-word;
    line-height: 0.90;
}

.banner-principal .video-banner {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

/*ANIMATE*/
.banner-dicas {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    margin-bottom: 20px;
}

.banner-dicas.show {
    opacity: 1;
    transform: translateY(0);
}
/*ANIMATE*/

.banner-dicas.show {
    opacity: 1;
    transform: translateY(0);
}

.banner-dicas i {
    font-size: 40px;
    color: var(--color-primary);
}

.banner-dicas a {
    background-color: none;
    text-decoration: none;
    border-bottom: 1px solid var(--cor-black-modern);
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-font-paragrafo);
    cursor: pointer;
}

.banner-dicas h3 {
    font-weight: lighter;
    margin-bottom: 5px;
    color: var(--cor-black-modern);
    text-transform: uppercase;
}

.mosaic {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    background-color: white;
}

.mosaic-item {
    display: flex;
    flex-direction: row-reverse;
    gap: 0px;
}

.mosaic p {
    text-align: justify;
}

.mosaic button {
    width: 150px;
    padding: 10px;
    border: none;
    color: white;
    background-color: brown;
    cursor: pointer;
}

.flex-item.texto {
    padding-left: 30px;
    padding-right: 30px;
}

.texto h2 {
    font-size: 24px;
    font-weight: bold;
}

.texto p {
    font-size: 16px;
    line-height: 1.5;
}

.testimonials-content {
    max-width: 600px;
    margin: 0 auto;
}

.testimonials-content img {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    border: 10px solid var(--color-primary);
}

.testimonials h2 {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-primary);
}

.testimonials p {
    font-weight: lighter;
}

.testimonials {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.comentarios {
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}

.comentarios img {
    width: 100px;
    height: auto;
}

.comentarios h2 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: var(--color-primary);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* Mobile - Menu mobile e flexbox para itens */
@media (max-width: 800px) {

    .banner-principal h1 {
        font-size: 20px;
    }

    .flex-item.texto {
        padding-left: 5px;
        padding-right: 5px;
    }

    .mosaic-item {
        padding: 10px;
    }

}
/* Mobile - Menu mobile e flexbox para itens */























