* {
    box-sizing: border-box;
}

body {
    font-size: 32px;
    margin: 0;
    background-color: var(--cor-de-fundo);

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}  

.social-media-button {
    width: 17px;
    color: white;
    text-decoration: none;
}

.button-app {
    user-select: none;
    font-size: 12px;
    text-decoration: none;
    background-color: var(--cor-vermelhor);
    border: 0;
    color: white;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.clear {
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  /* Centraliza os itens filhos horizontalmente */
    text-align: center;
}

.flex-direction-colum {
    flex-direction: column;
}

.parent-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.parent-container .button-app {
    max-width: 50%;
}

.flex-index {
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.flex-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.flex-wraper {
    display: block;
    margin: 10px 0;
}

.end-flex {
    margin-top: 170px;
}

.sublime-text {
    width: 6%; 
    height: 4px;
    background-color: var(--cor-vermelhor); 
    margin-top: 5px;
}

html {
    scroll-behavior: smooth;
}

/* Menu mobile */

.mobile-menu-icon {
    user-select: none;
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-menu {
    user-select: none;
    display: none; 
    flex-direction: column;
    background-color: #d3d3d3; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 56px;
    right: 0;
    width: 100vw;
    z-index: 40;
    text-align: center;
}

.mobile-menu a {
    padding: 15px;
    text-decoration: none;
    color: #333; 
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    display: block;
}

.mobile-menu a:last-child {
    border-bottom: none;
}

.mobile-menu a:hover {
    background-color: #bbb;
}

/* Menu desktop */
.header {
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura da página */
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 30px; /* Aumenta o espaçamento interno */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra */

    display: flex; /* Ativa o modelo flexbox */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center; /* Centraliza verticalmente */
}

.header-logo {
    margin-right: 20px; /* Espaço ao lado do logo */
}

.header-menu {
    display: flex; /* Organiza o menu em linha */
    gap: 15px; /* Espaçamento entre os itens do menu */
}

.header-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px; /* Adiciona espaçamento interno aos links */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-menu a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

.banner-principal {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}

.banner-principal h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2;
    width: 60%; 
    word-wrap: break-word;
    line-height: 0.90; 
}

.banner-principal img {
    width: 100%;
}

.banner-principal .video-banner {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.mini-banner-principal {
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 60px;
    box-sizing: border-box;
    border-bottom: 3px solid var(--cor-azul);
    border-radius: 10px;
    z-index: 3;
}

.mini-banner-principal p, .mini-banner-principal img {
    margin: 0;
    padding: 0;
}

.mini-banner-principal p, .mini-banner-principal img, .mini-banner-principal button {
    margin-bottom: 10px;
}

.mini-banner-principal p {
    color: var(--cor-azul);
    font-weight: bold;
}

.mini-banner-principal img {
    width: 25%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.mini-banner-principal button {
    background-color: var(--cor-vermelhor);
    border: 0;
    color: white;
    width: 60%;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.mini-banner-principal button:hover {
    background-color: var(--cor-vermelhor-hover);
    border: 0;
    color: white;
    width: 35%;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

.content-principal {
    text-align: left;
}

iframe {
    width: 100%;
    height: 450px;
    border-radius: 15px;
}

.content-principal .video-container-flex-wraper {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}


.content-principal .foto-container-flex-wraper {
    width: 100%;
}

.content-principal .foto-container-flex-wraper img {
    width: 100%;
}

.content-principal .title-flex-wraper {
    color: var(--cor-azul);
    margin-bottom: 10px;
    width: 100%;
}

.title-content-principal-left b, .title-content-principal-right b { 
    color: var(--cor-azul);
}

.content-principal p {
    text-align: left;
    font-size: 15px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.title-content-principal-right {
    padding-right: 30px;
}

.title-content-principal-left {
    padding-left: 30px;
}

.history-content {
    padding: 20px;
}

.history-content h1 { 
    color: var(--cor-azul);
    font-size: 35px;
    line-height: 0.1; 
}

.image-history-content {
    position: relative;
    width: 100%; /* Ocupa toda a largura da tela */
    height: 500px; /* Ajuste a altura conforme necessário */
    overflow-x: auto; /* Permite o scroll horizontal */
    overflow-y: hidden; /* Remove o scroll vertical */
    white-space: nowrap; /* Garante que os filhos não quebrem linha */
    background: linear-gradient(135deg, #e0f7fa, #b3e5fc, #03a9f4, #0288d1, #01579b); /* Degradê colorido em diversos tons de azul */
    display: flex;
    justify-content: flex-start; /* Alinha a imagem ao início */
}

.image-top {
    display: inline-block;
    width: 100%; /* Preenche a largura do contêiner */
    height: 100%; /* Preenche a altura do contêiner */
}

.image-bottom {
    display: inline-block;
    height: auto; /* Mantém a proporção da imagem */
    width: 200%; /* A imagem vai ocupar 200% da largura da tela, causando o scroll horizontal */
    min-width: 100%; /* Garante que a imagem não seja menor que 100% da largura da tela */
    margin-left: 0%; /* Alinha a imagem sem margens */
}

footer {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

footer p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(124, 124, 124);
}

/* Container principal do mosaico */
.mosaic-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
    grid-template-rows: auto;
    gap: 15px;
    width: 100%; /* Garante que ocupe toda a largura */
    max-width: 100%; /* Remove limitação de largura */
    margin: 0; /* Remove margens */
    padding: 0;
}

.mosaic-item {
    border-radius: 10px;
    overflow: hidden;
}

.text-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.text-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--cor-azul);
}

.text-item p {
    text-align: left;
    font-size: 15px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.image-item {
    position: relative;
    background-color: #ccc;
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.image-item:hover img {
    transform: scale(1.1);
}

.text-item:hover {
    transform: translateY(-10px);
}

.mosaic-container b {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
}

.mosaic-container-button {
    text-align: center;
}

.mosaic-container button {
    background-color: var(--cor-vermelhor);
    border: 0;
    color: white;
    width: 30%;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.enfase {
    text-align: center; 
    background-color: white;
    margin-bottom: 0px;
    padding: 50px;
}

.enfase h2 {
    margin-bottom: 10px;
}

.enfase h2::first-letter {
    border-bottom: 4px solid var(--cor-vermelhor);
    padding-bottom: 5px;
}

.enfase-footer {
    color: white;
}

@media (max-width: 768px) {

    .enfase h2 {
        font-size: 14px;
    }

    .banner-principal h1 {
        font-size: 15px;
    }

    .parent-container, .end-flex {
        display: none;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    .mosaic-container {
        grid-template-columns: 1fr;
    }

    .header-menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .product-01 {
        flex: 1 1 100%; /* 1 coluna por linha em telas pequenas */
        max-width: 100%;
    }

}

:root {
    --cor-azul: #003D77;
    --cor-vermelhor: #CC0E25;
    --cor-de-fundo: rgb(242, 242, 242);
    --cor-vermelhor-hover: #5a131c;
}

/*ICONS*/
i.fa-solid.fa-check {
    color: var(--cor-vermelhor);
}

.product-content {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px; 
    justify-content: center;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-01 {
    flex: 1 1 calc(33.333% - 20px); /* Tamanho flexível para cada item (3 colunas por linha) */
    max-width: calc(33.333% - 20px); /* Garante que cada item respeite o espaço disponível */
    box-sizing: border-box; /* Inclui padding/borda no cálculo de largura */
    text-align: center; /* Centraliza os elementos dentro do item */
}

.product-01 img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço do container pai */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
}
